@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none;
    box-sizing: border-box;
    font-family: 'NotoSansKR';
    color: rgba(39, 39, 42, 0.8);
}

div, p, span {
    color: rgb(65, 65, 65);
}

@media screen and (max-width: 1024px) {
    * {
        cursor: auto;
    }
}

body {
    background-color: #E3DED9;
}

.menu-wrapper {
    border: none;

}

@font-face {
    font-family: 'NotoSansKR';
    src: url("src/static/fonts/NotoSansKR-Regular.ttf");
}