@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none;
}

body {
    background-color: #E3DED9;
    /*cursor: url('src/components/assets/images/cursor-more.cur'), auto;*/
}

.menu-wrapper {
    border: none;

}
