@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: none;
}

@media screen and (max-width: 1024px) {
    * {
        cursor: auto;
    }
}

body {
    background-color: #E3DED9;
}

.menu-wrapper {
    border: none;

}
